$background-dark: #261C2C;
$background-light: #EDF2F7;
$background-grey: #e8e8e8;
$border-light-color: rgb(190, 190, 190);
$primary-color: rgb(94, 74, 227);
$accent-color: rgb(148, 123, 211);
$active-color: rgb(26, 180, 28);
$deactivated-color: rgb(117, 117, 117);
$error-color: rgb(227, 74, 74);
