@import 'colors';
@import '~boxicons/css/boxicons.min.css';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: $background-light;
  width: 100%;
}

/**
 * Global styles for list entering animations
 */
.list-enter-active,
.list-leave-active {
  transition: all 1s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
