@import 'colors';
@import '~boxicons/css/boxicons.min.css';

body, html {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  background: $background-dark;
  display: flex;
  justify-content: center;
  align-content: center;
}
